@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-07-30 14:10:45
 * @version $Id$
 */

body {
	background-color: #f6f6f6;
	margin: 0px;
}

.icon-编辑:before {
		    content:"\e901";
}

.icon-编辑-01:before {
	content:"\e903";
}

.icon-编辑-02:before {
	content:"\e900";
}

header.top {
	background-color:#f6f6f6;
	margin: 17px 0px 15px 0px;
	padding: 0px 10px 0px 20px;
	height: 59px;
}
header.top h1{
	width: 258px;
	height: 39px;
	display: block;
	margin:0px;
}
header.top a{
	width: 258px;
	height: 39px;
	padding: 10px 0 0 35px;
    display: block;
	text-decoration: none;
}

nav {
	background-color: #96b97d;
	height: 34px;
	color:white;
}

nav ul {
	margin: 0px;
	padding: 7px 40px 7px 35px;
	list-style-type: none;
	font-size: 15.2px;
}

nav ul li {
	display: inline-block;
	margin: 0px 20px 0px 0px;
	
}

nav a {
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 0.9em;
	transition: .3s all ease;

}

nav ul li a:hover {	
 color: #373a35;

	
}


aside {
	display: table-cell;
	height: 435px;
	width:14%;
	
}

#asidehead {
	height:19px ;
	font-size: 1em;
	font-weight: 200;
	padding: 5px 1px 5px 9px;

}
aside a,h5 {
	display: block;
    height: 30px;
    width: 170px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 10px 0px 0px 10px;
    text-decoration: none;
    margin: 0px;
    color: black;
}

aside a:nth-of-type(odd) {
	background-color: white;
}

div#tablecontainer {
	display: table;
	border-spacing: 10px;
	padding: 10px 0px 0px 0px;
}

div#row{
	display: table-row;
}

div#section {
	display: table-cell;
	width: 82%;
    border: 1px solid #eaeaea;
    background-color: #fff;
    border-radius: 4px;
    vertical-align: top;
    padding: 15px;
}

div#rightbar {
	display: table-column;
	position: fixed;
	right: 18px;
	top:450px;
	height: 60px;
	width: 40px;
}

.icon-编辑-04:before {
	position: relative;
	top:5px;
	left: 10px;
	content: "\e911";
	
}
.icon-编辑-05:before {
	position: relative;
	top:5px;
	left: 10px;
	content: "\e910";
}
div#back_top {
	display: block;
	height: 30px;
	width: 40px;
	border:  #eaeaea 1px solid;
}
div#back_top a {
	display: block;
	height: 30px;
	width: 40px;
}

div#qrcode {
	display:block;
	height: 30px;
	width: 40px;
	border: #eaeaea 1px solid;
}
.artice {
	vertical-align: top;
	

}
.caption {
	font-size: 18px;
    font-weight: 700;
    margin: 12px 0;
    border-bottom: 1px solid #eaeaea;
}

#cell {
	display: inline-block;
	width: 260px;
    margin: 0 8px 10px 0;
    text-align: left;
    height: 80px;
    color: #bbb;
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 6px 16px;
    text-decoration: none;
    vertical-align: top;
}

#cell:hover {
	background-color: #FFF0F5;
}
div #cell h4 {
	color: #64854c;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.1;
    text-align: left;
}
div #cell img {
	float: left;
    margin-left: 10px;
    margin-right: 10px;
}

div #cell p {
	display: block;
    color: #666;
    text-align: left;
    font-size: 12px;

}



#secondfoot {
	display: block;
    margin: 10px 0px 10px 0px;
    height: 250px;
    border-bottom: solid 1px #bbb;
    border-top: solid 1px #bbb;
}

#secondfoot ul {
	display: inline-block;
	vertical-align: top;
}
#first_list {
	margin: 15px 0px 20px 300px;
}
#secondfoot ul li {
	width: 100px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#QR {
	display: inline-block;
	margin: 0;
	padding:  0px 0px 0px 60px;
	height: 250px;
	border-left: #bbb solid 1px;
}

#QR h4 {
	margin: 10px 0 10px 0;
}

a.unorderline { 
	color: gray;
	font-size: 12px;
	text-decoration: none;
	
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100px;
	

}

a.unorderline:hover{
	color: green;
}

#finally_foot {
	text-align: center;
	font-size: 0.8em;
	padding: 0 0 15px 0;
	color: gray;
}